body {
    min-width: 300px;
    min-height: 250px;
}

.shortCuts {
    flex-direction: column;
    margin-top: 0.2rem;
}

.shortCut {
    border: 0;
    width: fit-content;
    margin-bottom: 0.2rem;
    position: absolute;
    padding: 0 0.8rem;
    top: 1rem;
}

.remove {
    display: none;
}

#fllscreen {
    color: rgb(98, 93, 93);
    font-style: oblique;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}